.titulos {
    font-style: italic;
}

.titulo {
    background-color: aquamarine;
}

/* Aplicar estilo al H1 con dos clases (titulo y uno) */
.titulo.uno{
    background-color: cadetblue;
    text-transform: lowercase;
}

.uno {
    text-transform: uppercase;
    color: whitesmoke;
}

.tabla-contactos{
    width: 100%
}

table, th, td {
    border: 2px solid tomato;
    border-collapse: collapse;
    text-align:  center;
}

table {
    border-spacing: 5px;
}

th, td {
    padding: 10px;
}

.snippet {
    background-color: black;
    color: white;
}

div > a:hover {
    color: tomato !important
}